body {
    background: #bdc3c7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #939597, #bdc3c7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #bdc3c7, #abcff3);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.bgwindow {
   
    background-color: linear-gradient(to right, #fffefe, #cde6ff);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
 a {
     color: #525252
 }

 a:hover {
     color: rgb(102, 102, 102);
 }

 .bginput {
     background-color: #eeeeee;
 }

.bgnav {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}
.bgnav2 {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.cpurple {
    color: rgb(59, 7, 59)
}

.corange {
    color: rgb(250, 61, 3);
}

.cblue {
    color: rgb(0, 114, 221);
}